In [1]:
import yfinance as yf
import pandas as pd
from datetime import date, timedelta
import datetime

In [4]:
data = yf.download(tickers = "MSFT", period = "7d", interval = "1m")
start_date = datetime.datetime(2023, 3, 1)
end_date = datetime.datetime(2023, 3, 8)
data

# ticker = "MSFT"
# df = yf.download(ticker, period="1y", interval="1h")

# df.to_csv(f"{ticker}.csv")
# df = pd.read_csv("MSFT.csv")

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-02-27 09:30:00-05:00,252.460007,252.820007,252.029999,252.389999,252.389999,1248258
2023-02-27 09:31:00-05:00,252.399994,252.490005,251.929993,252.050003,252.050003,58224
2023-02-27 09:32:00-05:00,251.979996,252.220001,251.789993,251.789993,251.789993,69719
2023-02-27 09:33:00-05:00,251.779999,252.104996,251.690002,251.800003,251.800003,61535
2023-02-27 09:34:00-05:00,251.779999,251.940002,251.410004,251.470001,251.470001,56221
...,...,...,...,...,...,...
2023-03-07 15:55:00-05:00,254.119995,254.380005,254.119995,254.229996,254.229996,206540
2023-03-07 15:56:00-05:00,254.244995,254.255005,253.970001,253.979996,253.979996,117099
2023-03-07 15:57:00-05:00,253.990005,254.059998,253.990005,253.990005,253.990005,132116
2023-03-07 15:58:00-05:00,254.000000,254.210007,254.000000,254.210007,254.210007,196649
2023-03-07 15:59:00-05:00,254.199997,254.320007,254.100006,254.199997,254.199997,443789

In [5]:
# Specify start dates and end dates
# end_date = date.today()
# start_date = end_date - timedelta(days=29)

print('start_date:', start_date)
print('end_date:', end_date)

# Start dates
start_date_list = [start_date + timedelta(days=7*i) for i in range(5)]
print('start_date_list:')
print(start_date_list)

# End dates
end_date_list = [start_date_list[i+1] - timedelta(days=1) for i in range(4)] + [end_date]
print('end_date_list:')
print(end_date_list)

print('===========================================================\n')

# Use for-loop to extract data
df_1min = pd.DataFrame({})

for idx in range(2):
    data = yf.download(tickers="MSFT", 
                       start=start_date_list[idx].strftime("%Y-%m-%d"), 
                       end=end_date_list[idx].strftime("%Y-%m-%d"), 
                       interval = "1m")
    df_1min = df_1min.append(data)

print("Data size: " + str(df_1min.size))
data

# Create a test csv file given a raw path string
df_1min.to_csv(r"Datasets/tmp.csv")

start_date: 2023-03-01 00:00:00
end_date: 2023-03-08 00:00:00
start_date_list:
[datetime.datetime(2023, 3, 1, 0, 0), datetime.datetime(2023, 3, 8, 0, 0), datetime.datetime(2023, 3, 15, 0, 0), datetime.datetime(2023, 3, 22, 0, 0), datetime.datetime(2023, 3, 29, 0, 0)]
end_date_list:
[datetime.datetime(2023, 3, 7, 0, 0), datetime.datetime(2023, 3, 14, 0, 0), datetime.datetime(2023, 3, 21, 0, 0), datetime.datetime(2023, 3, 28, 0, 0), datetime.datetime(2023, 3, 8, 0, 0)]
===========================================================

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MSFT: Data doesn't exist for startDate = 1678251600, endDate = 1678766400
Data size: 9360

C:\Users\kayra\AppData\Local\Temp\ipykernel_12964\1065581375.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)
C:\Users\kayra\AppData\Local\Temp\ipykernel_12964\1065581375.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

In [10]:
# Specify start dates and end dates
end_date = date.today()
start_date = end_date - timedelta(days=29)

print('start_date:', start_date)
print('end_date:', end_date)

# Start dates
start_date_list = [start_date + timedelta(days=7*i) for i in range(5)]
print('start_date_list:')
print(start_date_list)

# End dates
end_date_list = [start_date_list[i+1] - timedelta(days=1) for i in range(4)] + [end_date]
print('end_date_list:')
print(end_date_list)

print('===========================================================\n')

# Use for-loop to extract data
df_1min = pd.DataFrame({})

for idx in range(5):
    data = yf.download(tickers="MSFT", 
                       start=start_date_list[idx].strftime("%Y-%m-%d"), 
                       end=end_date_list[idx].strftime("%Y-%m-%d"), 
                       interval = "1m")
    df_1min = df_1min.append(data)

print("Data size: " + str(df_1min.size))

# Create a test csv file given a raw path string
df_1min.to_csv(r"Datasets/MSFT_2023-01-13_2023-02-10.csv")

start_date: 2023-01-13
end_date: 2023-02-11
start_date_list:
[datetime.date(2023, 1, 13), datetime.date(2023, 1, 20), datetime.date(2023, 1, 27), datetime.date(2023, 2, 3), datetime.date(2023, 2, 10)]
end_date_list:
[datetime.date(2023, 1, 19), datetime.date(2023, 1, 26), datetime.date(2023, 2, 2), datetime.date(2023, 2, 9), datetime.date(2023, 2, 11)]
===========================================================

[*********************100%***********************]  1 of 1 completed

C:\Users\kayra\AppData\Local\Temp\ipykernel_27416\3677925876.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

[*********************100%***********************]  1 of 1 completed

C:\Users\kayra\AppData\Local\Temp\ipykernel_27416\3677925876.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

[*********************100%***********************]  1 of 1 completed

C:\Users\kayra\AppData\Local\Temp\ipykernel_27416\3677925876.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
Data size: 37422

C:\Users\kayra\AppData\Local\Temp\ipykernel_27416\3677925876.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)
C:\Users\kayra\AppData\Local\Temp\ipykernel_27416\3677925876.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

In [ ]:
# Update Dataset

In [27]:
df = pd.read_csv("Datasets/dataset (MSFT).csv")
df_2 = pd.read_csv("Predictions/Combined Model Price Prediction.csv")

dfloc = df.loc[5446:, 'Unnamed: 0']
dfloc.reset_index(drop=True, inplace = True)
df_2["Date"] = dfloc
df_2.to_csv (r'C:\Users\kayra\OneDrive\Desktop\Stonks 2022\Stocks-Prediction\Predictions\Combined Model Price Prediction Dates.csv', index = False, header=True)

In [39]:
start_date = datetime.datetime(2023, 2, 13)
end_date = datetime.datetime(2023, 2, 15)

data = yf.download(tickers="MSFT", 
                       start=start_date.strftime("%Y-%m-%d"), 
                       end=end_date.strftime("%Y-%m-%d"), 
                       interval = "1m")

df_1min = df_1min.append(data)
df_1min.to_csv(r"Datasets/tmp.csv") 
data

[*********************100%***********************]  1 of 1 completed

C:\Users\kayra\AppData\Local\Temp\ipykernel_11296\4138909008.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-02-13 09:30:00-05:00,267.640015,268.339996,267.187500,267.429993,267.429993,1686911
2023-02-13 09:31:00-05:00,267.429993,268.459991,267.149994,267.582001,267.582001,303844
2023-02-13 09:32:00-05:00,267.609985,269.000000,267.540009,268.779999,268.779999,380392
2023-02-13 09:33:00-05:00,268.769989,268.890015,268.010010,268.529999,268.529999,239949
2023-02-13 09:34:00-05:00,268.524994,269.535004,268.500000,269.089996,269.089996,340502
...,...,...,...,...,...,...
2023-02-14 15:55:00-05:00,272.980011,273.220001,272.839996,272.894989,272.894989,161513
2023-02-14 15:56:00-05:00,272.890015,272.945007,272.660004,272.679993,272.679993,131914
2023-02-14 15:57:00-05:00,272.670013,272.700012,272.359985,272.429993,272.429993,177605
2023-02-14 15:58:00-05:00,272.433105,272.450012,272.179993,272.315002,272.315002,245706
2023-02-14 15:59:00-05:00,272.320007,272.380005,271.920013,272.040009,272.040009,512459