In [1]:
import yfinance as yf
import pandas as pd
from datetime import date, timedelta
import datetime

In [8]:
data = yf.download(tickers = "MSFT", period = "7d", interval = "1m")
start_date = datetime.datetime(2023, 2, 20)
end_date = datetime.datetime(2023, 3, 1)
data

# ticker = "MSFT"
# df = yf.download(ticker, period="1y", interval="1h")

# df.to_csv(f"{ticker}.csv")
# df = pd.read_csv("MSFT.csv")

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-02-21 09:30:00-05:00,254.479996,254.710007,254.000000,254.470001,254.470001,1622732
2023-02-21 09:31:00-05:00,254.460007,254.460007,253.850006,254.160004,254.160004,111638
2023-02-21 09:32:00-05:00,254.168701,254.524994,253.889999,254.280594,254.280594,78508
2023-02-21 09:33:00-05:00,254.289993,254.360001,254.020004,254.279999,254.279999,76442
2023-02-21 09:34:00-05:00,254.220001,254.500000,254.016006,254.470001,254.470001,82972
...,...,...,...,...,...,...
2023-03-01 15:55:00-05:00,246.190002,246.199997,245.839996,245.839996,245.839996,326969
2023-03-01 15:56:00-05:00,245.839996,246.339996,245.789993,246.300003,246.300003,227645
2023-03-01 15:57:00-05:00,246.289993,246.470001,246.089996,246.339996,246.339996,199477
2023-03-01 15:58:00-05:00,246.330002,246.399994,246.240005,246.360001,246.360001,234055
2023-03-01 15:59:00-05:00,246.360001,246.470001,246.220001,246.240005,246.240005,584257

In [11]:
# Specify start dates and end dates
# end_date = date.today()
# start_date = end_date - timedelta(days=29)

print('start_date:', start_date)
print('end_date:', end_date)

# Start dates
start_date_list = [start_date + timedelta(days=7*i) for i in range(5)]
print('start_date_list:')
print(start_date_list)

# End dates
end_date_list = [start_date_list[i+1] - timedelta(days=1) for i in range(4)] + [end_date]
print('end_date_list:')
print(end_date_list)

print('===========================================================\n')

# Use for-loop to extract data
df_1min = pd.DataFrame({})

for idx in range(2):
    data = yf.download(tickers="MSFT", 
                       start=start_date_list[idx].strftime("%Y-%m-%d"), 
                       end=end_date_list[idx].strftime("%Y-%m-%d"), 
                       interval = "1m")
    df_1min = df_1min.append(data)

print("Data size: " + str(df_1min.size))
data

# Create a test csv file given a raw path string
df_1min.to_csv(r"Datasets/tmp.csv")

start_date: 2023-02-20 00:00:00
end_date: 2023-03-01 00:00:00
start_date_list:
[datetime.datetime(2023, 2, 20, 0, 0), datetime.datetime(2023, 2, 27, 0, 0), datetime.datetime(2023, 3, 6, 0, 0), datetime.datetime(2023, 3, 13, 0, 0), datetime.datetime(2023, 3, 20, 0, 0)]
end_date_list:
[datetime.datetime(2023, 2, 26, 0, 0), datetime.datetime(2023, 3, 5, 0, 0), datetime.datetime(2023, 3, 12, 0, 0), datetime.datetime(2023, 3, 19, 0, 0), datetime.datetime(2023, 3, 1, 0, 0)]
===========================================================

[*********************100%***********************]  1 of 1 completed

C:\Users\kayra\AppData\Local\Temp\ipykernel_16224\1065581375.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

[*********************100%***********************]  1 of 1 completed
Data size: 16380

C:\Users\kayra\AppData\Local\Temp\ipykernel_16224\1065581375.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

In [10]:
# Specify start dates and end dates
end_date = date.today()
start_date = end_date - timedelta(days=29)

print('start_date:', start_date)
print('end_date:', end_date)

# Start dates
start_date_list = [start_date + timedelta(days=7*i) for i in range(5)]
print('start_date_list:')
print(start_date_list)

# End dates
end_date_list = [start_date_list[i+1] - timedelta(days=1) for i in range(4)] + [end_date]
print('end_date_list:')
print(end_date_list)

print('===========================================================\n')

# Use for-loop to extract data
df_1min = pd.DataFrame({})

for idx in range(5):
    data = yf.download(tickers="MSFT", 
                       start=start_date_list[idx].strftime("%Y-%m-%d"), 
                       end=end_date_list[idx].strftime("%Y-%m-%d"), 
                       interval = "1m")
    df_1min = df_1min.append(data)

print("Data size: " + str(df_1min.size))

# Create a test csv file given a raw path string
df_1min.to_csv(r"Datasets/MSFT_2023-01-13_2023-02-10.csv")

start_date: 2023-01-13
end_date: 2023-02-11
start_date_list:
[datetime.date(2023, 1, 13), datetime.date(2023, 1, 20), datetime.date(2023, 1, 27), datetime.date(2023, 2, 3), datetime.date(2023, 2, 10)]
end_date_list:
[datetime.date(2023, 1, 19), datetime.date(2023, 1, 26), datetime.date(2023, 2, 2), datetime.date(2023, 2, 9), datetime.date(2023, 2, 11)]
===========================================================

[*********************100%***********************]  1 of 1 completed

C:\Users\kayra\AppData\Local\Temp\ipykernel_27416\3677925876.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

[*********************100%***********************]  1 of 1 completed

C:\Users\kayra\AppData\Local\Temp\ipykernel_27416\3677925876.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

[*********************100%***********************]  1 of 1 completed

C:\Users\kayra\AppData\Local\Temp\ipykernel_27416\3677925876.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
Data size: 37422

C:\Users\kayra\AppData\Local\Temp\ipykernel_27416\3677925876.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)
C:\Users\kayra\AppData\Local\Temp\ipykernel_27416\3677925876.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

In [ ]:
# Update Dataset

In [27]:
df = pd.read_csv("Datasets/dataset (MSFT).csv")
df_2 = pd.read_csv("Predictions/Combined Model Price Prediction.csv")

dfloc = df.loc[5446:, 'Unnamed: 0']
dfloc.reset_index(drop=True, inplace = True)
df_2["Date"] = dfloc
df_2.to_csv (r'C:\Users\kayra\OneDrive\Desktop\Stonks 2022\Stocks-Prediction\Predictions\Combined Model Price Prediction Dates.csv', index = False, header=True)

In [39]:
start_date = datetime.datetime(2023, 2, 13)
end_date = datetime.datetime(2023, 2, 15)

data = yf.download(tickers="MSFT", 
                       start=start_date.strftime("%Y-%m-%d"), 
                       end=end_date.strftime("%Y-%m-%d"), 
                       interval = "1m")

df_1min = df_1min.append(data)
df_1min.to_csv(r"Datasets/tmp.csv") 
data

[*********************100%***********************]  1 of 1 completed

C:\Users\kayra\AppData\Local\Temp\ipykernel_11296\4138909008.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_1min = df_1min.append(data)

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-02-13 09:30:00-05:00,267.640015,268.339996,267.187500,267.429993,267.429993,1686911
2023-02-13 09:31:00-05:00,267.429993,268.459991,267.149994,267.582001,267.582001,303844
2023-02-13 09:32:00-05:00,267.609985,269.000000,267.540009,268.779999,268.779999,380392
2023-02-13 09:33:00-05:00,268.769989,268.890015,268.010010,268.529999,268.529999,239949
2023-02-13 09:34:00-05:00,268.524994,269.535004,268.500000,269.089996,269.089996,340502
...,...,...,...,...,...,...
2023-02-14 15:55:00-05:00,272.980011,273.220001,272.839996,272.894989,272.894989,161513
2023-02-14 15:56:00-05:00,272.890015,272.945007,272.660004,272.679993,272.679993,131914
2023-02-14 15:57:00-05:00,272.670013,272.700012,272.359985,272.429993,272.429993,177605
2023-02-14 15:58:00-05:00,272.433105,272.450012,272.179993,272.315002,272.315002,245706
2023-02-14 15:59:00-05:00,272.320007,272.380005,271.920013,272.040009,272.040009,512459